---
export const prerender = true;

import InvestorsHero from "../../../components/investors/InvestorsHero.astro";
import LayoutInvestors from "../../../layouts/LayoutInvestors.astro";
---

<LayoutInvestors>
  <div class="space-y-12">
    <InvestorsHero />
  </div>
</LayoutInvestors>
