# Resend API key for interfacing with Resend services
# https://resend.com/api-keys
RESEND_API_KEY=re_xxxxxxxxx

# Cloudflare Turnstile keys for CAPTCHA verification
# https://dash.cloudflare.com/?to=/:account/turnstile
TURNSTILE_SITE_KEY=2x00000000000000000000AB
TURNSTILE_SECRET_KEY=2x0000000000000000000000000000000AA

# Sentry Auth Token for uploading source maps
# https://docs.sentry.io/account/auth-tokens/
SENTRY_AUTH_TOKEN=sntrys_xxxxxxxxx
