# BUILD ONLY: Sentry Auth Token for uploading source maps
# https://docs.sentry.io/account/auth-tokens/
SENTRY_AUTH_TOKEN=your_sentry_auth_token_here

# BUILD ONLY: Cloudflare Turnstile keys for CAPTCHA verification
# https://dash.cloudflare.com/?to=/:account/turnstile
TURNSTILE_SITE_KEY=your_turnstile_site_key_here

# BUILD ONLY: Sentry DSN for both the client and the Worker. Left unset, Sentry is disabled.
# https://docs.sentry.io/concepts/key-terms/dsn-explainer/
SENTRY_DSN=https://xxxxxxxxx@oXXXXXX.ingest.de.sentry.io/XXXXXXX

# RUNTIME ONLY: Resend API key for interfacing with Resend services
# https://resend.com/api-keys
RESEND_API_KEY=your_resend_api_key_here

# RUNTIME ONLY: Cloudflare Turnstile keys for CAPTCHA verification
# https://dash.cloudflare.com/?to=/:account/turnstile
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here
