---
import { GodRays } from "@paper-design/shaders-react";
import { getLangFromUrl, useTranslation } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
---

<section class="relative h-[500px] overflow-hidden">
  <div class="absolute inset-0 -z-50 dark:hidden" aria-hidden="true">
    <GodRays
      bloom={0.1}
      client:only="react"
      colorBack="#fafafa"
      colorBloom="#3083ff"
      colors={["#69d4f2", "#083b87", "#2e82ff", "#000000"]}
      density={0.5}
      height={500}
      intensity={1}
      midIntensity={0.5}
      midSize={0.25}
      offsetY={-0.55}
      speed={1.5}
      spotty={1}
    />
  </div>
  <div class="absolute inset-0 -z-50 hidden dark:block" aria-hidden="true">
    <GodRays
      bloom={0.5}
      client:only="react"
      colorBack="#09090b"
      colorBloom="#3083ff"
      colors={["#69d4f2", "#083b87", "#2e82ff", "#ffffff"]}
      density={0.5}
      height={500}
      intensity={1}
      midIntensity={0.5}
      midSize={0.25}
      offsetY={-0.55}
      speed={1.5}
      spotty={1}
    />
  </div>

  <header class="absolute bottom-0 left-0 flex flex-col gap-4 p-8 sm:p-12">
    <span
      class="input-label-wide font-display font-semibold text-zinc-900 dark:text-zinc-100"
    >
      {t("home").investors.hero.label}
    </span>
    <h1 class="h1">{t("home").investors.hero.heading}</h1>
  </header>

  <div
    class="absolute right-0 bottom-0 left-0 -z-40 h-full bg-linear-to-t from-zinc-100 to-transparent dark:from-zinc-950"
    aria-hidden="true"
  >
  </div>
</section>
